
header{
    .logo{
    margin-bottom: 0;
    padding: 30px 30px;
    font-weight: bold;
    color:#4c7eb8;
    font-size: 3em;
    font-family: "josefin sans", sans-serif;
    }
    .container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f7f7;
    border-bottom: 0.5px solid #bfbcbc;
    }
    nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "montserrat", sans-serif;
    }
    a{
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    }
    a:hover{
    color: #2aaaff;
    }
}
/*-------------Header------------------*/